body {
    background-color: #666;
    color: #6b6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#controls {
    width: fit-content;
    margin: 0 auto;
    color: #ddd;
    font-size: 1.1rem;
    text-align: center;
}

#grid {
    display: grid;
    /*border-left: 1px dashed darkgrey;
    border-top: 1px dashed darkgrey;*/
    width: fit-content;
    margin: 40px auto;
    margin-bottom: 20px;
}

.cell {
    /*width: 32px;*/
    aspect-ratio: 1 / 1;
    background-color: #d4d4d4;
    border-right: 1px dashed darkgrey;
    border-bottom: 1px dashed darkgrey;
    box-sizing: border-box;
}

.wall {
    background-color: #333;
}

.active {
    background-color: #6b96b6;
}

.markgreen {
    background-color: #6b6;
}
.markyellow {
    background-color: #cc6;
}
.markorange {
    background-color: #c96;
}
